

.nav-form{
    -fx-background-color: linear-gradient(to bottom right, #6a11cb, #2575fc);
}
.nav-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 15;
    -fx-font-family: "Arial";
    -fx-alignment: CENTER-LEFT;
}
.logout{
    -fx-background-color: #7c32d7;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}
.logout:hover{
    -fx-background-color: #8c35ff;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 6, 0, 0, 0);
}

.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8;
}
.card {
    -fx-background-color: linear-gradient(to bottom right, #8e44ad, #3498db);
    -fx-background-radius: 4;
}
.button:hover {
    -fx-background-color: #417ddc;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.table-view{
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-border-color: linear-gradient(to bottom right, #8e44ad, #3498db);
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right, #8e44ad, #3498db);
    -fx-background-radius: 8 8 0 0;
    -fx-background-insets: 0 0 0 0;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 40;
}



.table-view.column-header, .label{
    -fx-text-fill: #fff;
    -fx-font-family: "Cambria";
    -fx-font-style: Bold;
}

.vbox {
    -fx-spacing: 5;
    -fx-padding: 10;
}


