
.search-box {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}
.btn {
    -fx-background-color: #6a11cb;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 30;
}
.btn:hover {
    -fx-background-color: #417ddc;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.add-btn {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 100;
    -fx-cursor: hand;

}
.right-bar {
    -fx-background-color: linear-gradient(to bottom right, #6a11cb, #2575fc)
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 10);
}
.chosen-book-card {
    -fx-background-color: #6a11cb;
    -fx-background-radius: 30;
}
.comboBox {
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-background-radius: 30;
}
.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8;
}

.list-view {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #cccccc;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-padding: 10px;
}

.list-cell:hover {
    -fx-background-color: #e0e0e0;
}

.list-cell:selected {
    -fx-background-color: #0078d7;
    -fx-text-fill: #ffffff;
}
.list-cell {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
    -fx-background-color: transparent;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-translate-y: 0;
    -fx-transition: all 0.3s ease-in-out;
    -fx-cursor: hand;
}

.image-view:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 150, 255, 0.7), 20, 0, 0, 0);
    -fx-scale-x: 1.1; /* Phóng to hình ảnh */
    -fx-scale-y: 1.1;
    -fx-translate-y: -5; /* Đẩy lên trên */
}


